/* Custom footer styles */
.md-footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

.md-footer-nav > * {
    margin: 0.5em 0;
    font-size: 1rem;
}

.md-footer-nav i {
    margin-right: 0.5em;
}
